<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.ceriosly.intuneplugindemo" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"><name>IntunePluginDemo</name><js-module name="IntunePluginDemo" src="www/IntunePluginDemo.js"><clobbers target="cordova.plugins.IntunePluginDemo" /></js-module><platform name="ios"><config-file parent="/*" target="config.xml"><feature name="IntunePluginDemo"><param name="ios-package" value="IntunePluginDemo" /></feature></config-file><source-file src="src/ios/IntunePluginDemo.m" /></platform></plugin>