<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.ceriosly.intunesample" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"><name>IntuneSample</name><js-module name="IntuneSample" src="www/IntuneSample.js"><clobbers target="cordova.plugins.IntuneSample" /></js-module><platform name="ios"><config-file parent="/*" target="config.xml"><feature name="IntuneSample"><param name="ios-package" value="IntuneSample" /></feature></config-file><source-file src="src/ios/IntuneSample.m" /></platform></plugin>